@model AppMVCBasic.UI.Models.SupplierViewModel

<hr />
<h3>Address 2</h3>
<table class="table table-hover">
    <thead class="bg-dark text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Complement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.State)
            </th>
            <th supress-by-action="Edit,GetAddress"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Address.Street)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address.Number)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address.Complement)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address.State)
            </td>
            <td supress-by-action="Edit,GetAddress">
                <a asp-controller="Suppliers" asp-action="UpdateAddress" asp-route-id="@Model.Id" class="btn btn-info" data-modal=""><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>



